<!DOCTYPE html>
<html><!--start of html-->
    <head><!--start on head-->
        <link rel="stylesheet" href = "css.css"> <!--Links the HTML to the Css-->
        <script src = "js.js" async defer></script> <!--Links the Js to the Css and also allows the use for asynchonoymous functions and also allows the js to load in the background, speeding up booting times. https://javascript.info/script-async-defer-->
        <title>Home</title><!--Title of the page on the bar thing-->
    </head><!--end of head-->
    <body><!--start of body-->
        <h1>Among us</h1>
    </body><!--end of body-->
</html><!--end of html-->